<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Medieninfo Discord Bot" status="INFO" strict="true">
    <Appenders>
        <Console name="Console Appender">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
        </Console>
        <File name="File Appender" fileName="log/Medieninfo-Discord-Bot.log" createOnDemand="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console Appender"/>
            <AppenderRef ref="File Appender"/>
        </Root>
    </Loggers>
</Configuration>